.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    &__header {
        &--item {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 1rem;
            background: white;
            border-collapse: collapse;
            text-align: left;
            font-weight: normal;
            color: #039;
            border-bottom: 2px solid #6678b1;
            padding: 10px 8px;
            cursor: pointer;
            user-select: none;
        
            &:last-child {
                cursor: default;
            }
        }
    }

    &__row {
        &--item {
            color: #039;
            padding: 9px 8px;
            transition: .3s linear;
            
        }
    }
}